@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* === GLOBAL STYLES === */
html {
  font-size: 100%; /* 16px */
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem; /* 16px */
    line-height: 1.5;  /* 24px line height */
    color: #000000; /* Black text */
    padding-inline: clamp(1rem, calc(0.12rem + 3.92vw), 2rem); /* 16px to 32px padding */
    padding-block: 0; /* No top/bottom padding */
}
h1 {
  font-size: 1.375rem; /* 22px */
}

p {
  font-size: 0.875rem; /* 14px */
}

small {
  font-size: 0.75rem; /* 12px */
}

