@media (min-width: 768px) {
  body{
    padding: 0 2rem; /* 32px */
  }

  .header__topbar{
    margin-bottom: 2rem;
  }

  .header__email{
    font-size: 1rem; /* 16px */
    font-weight: bold;  /* Bold for emphasis */
  }

  .presentation{
    flex-direction: row;  /* Change to row for larger screens */
    justify-content: center;
    align-items: center;  /* Center items vertically */
    gap: 2rem;
    margin-bottom: 2rem; /* 32px bottom, 0 left/right */
  }

  .presentation__information{
    max-width: 32.75rem;     /* 524px*/
    min-height: 8.125rem;    /* 130px*/
    order: 1;
  }

  .presentation__description{
    font-size: 1rem; /* 16px */
  }

  .fa-brands{
    font-size: 1.25rem; /* 20px */
  }

  .presentation__image{
    order:1;
    height: 9.125rem;  /* 146px */
    width: 9.125rem;  /* 146px */
  }
  
  /* About */

.about{
  min-height: 17.875rem;  /* 286px */
  margin-bottom: 2rem; /* 32px */
 }

 /* Skill*/
 .skills{
  min-height: 23.75rem;  /* 380px */
}
/*Hobbies*/
 .hobbies{
  min-height: 15.25rem;  /* 244px */
}
}

/* Desktop */
@media (min-width: 1024px) {
  body{
    padding: 0 9.5rem; /* 32px */
  }

  .header__topbar{
    width: 100%;  /* Full width */
    height: 5.5rem;  /* 88px */
  }

  .header__navigation-bar{
    display: inline; /* Show navigation bar */
 }

 .header__navigation-list{
    display:flex;
    gap: 2rem; /* 32px */
 }

 .presentation{
    min-height: 23rem;  /* 368px */
    padding: 0 0; /* 0 top/bottom, 0 left/right */
 }

  .presentation__information{
    max-width: 46.9375rem;     /* 751px */
    min-height: 15.375rem;    /* 246px */
  }

  .presentation__title{
    font-size: 3.25rem; /* 52px */
    line-height: 3.8125rem;  /* 61px */
  }

  .presentation__description{
    font-size: 1.375rem; /* 20px */
    line-height: 1.625rem; /* 26px */
  }

  .presentation__image{
    height: 23rem;  /* 368px */
    width: 23rem;  /* 368px */
  }

  /* About */
  .about{
    padding: 4rem  0; /* 64px top/bottom, 0 left/right */ 
  }

  .about__title{
    font-size: 2rem;  /* 32px */
  }

  .about__description{
    font-size: 1rem;  /* 16px */
  } 

  /* Skill*/
  .skills__title{
    font-size: 2rem;  /* 32px */
}

 /* Hobbies*/

 .hobbies__title{
  font-size: 2rem;  /* 32px */
 }
}
