.skills{
  min-height: 31.75rem;  /* 508px */
  width: 100%;
  padding: 1rem 0;
}

.skills__title{
    font-size: 1.375rem;  /* 22px */
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
}

.skills__list{
  display: grid;
  grid-template-columns: repeat(
    auto-fill, minmax(9.75rem, 1fr)
    );
    max-width: 71rem;
    margin: 0 auto;
  gap: 2rem 1rem; 
}

.skills__item{
  width: 100%;
  height: auto;
  background-color: brown;
  color: white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  font-size: 1rem;  /* 16px */
  font-weight: bold;
  padding: 1rem;
  box-sizing: border-box;
}

.skills__icon{
  font-size: 2.5rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}


